:root {
  --interaction-color: #2196f3;
  --brand-gray: #2f303a;
  --buttons-and-background: #f5f4fa;
  --text-color: #757575;
  --darker-text-color: #212121;
}
header ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo-blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--interaction-color);
}
.logo-black {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.nav-link {
  color: var(--darker-text-color);
  font-weight: 500;
  line-height: 1.1;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.02em;
}
.header-contact {
  color: var(--text-color);
}
.nav-link:hover,
.nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--interaction-color);
}
/*---------------------------------MAIN----------------------------------------*/
.main-order {
  background-color: var(--brand-gray);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-style: normal;
}
[type="button"] {
  cursor: pointer;
}
.order-button {
  background-color: var(--interaction-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
h3 {
  color: var(--darker-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}
.main-description {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}
h2 {
  color: var(--darker-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.worker-name {
  color: var(--darker-text-color);
  font-weight: 500;
  line-height: 1.2;
}
.worker-job {
  color: var(--text-color);
}
.filter ul {
  list-style: none;
}
.filter-button {
  background-color: var(--buttons-and-background);
  color: var(--darker-text-color);
  font-style: medium;
  line-height: 1.39;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--interaction-color);
  color: #ffffff;
}
.list {
  list-style: none;
}
.list-item {
  color: var(--darker-text-color);
  font-size: 18px;
  line-height: 1.71;
  font-weight: 700;
}
.list-item-type {
  color: var(--text-color);
  line-height: 1.6;
}
/*--------------------------------FOOTER---------------------------------------*/
footer {
  width: 1600px;
  height: 252px;
  background-color: var(--brand-gray);
}
address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
/* WHITE LOGO PART IS AT THE BEGGINING WITH THE REST OF LOGO PARTS */
